*.local
__recovery/
rad_console/Win32/
rad_console/*.local
rad_console/__astcache/
rad_console/__history/
rad_console/__recovery/

rad_dll/Win32/
rad_dll/*.local
rad_dll/__astcache/
rad_dll/__history/
rad_dll/__recovery/

rad_ui/Win32
rad_ui/*.local
rad_ui/__astcache/
rad_ui/__history/
rad_ui/__recovery/

vs_dll/Release/
vs_dll/.vs/
vs_dll/vs_dll/Release/

vs_console/Release/
vs_console/.vs/
vs_console/vs_console/Release/

fat32_driver/Win32/
fat32_driver/*.local
fat32_driver/__astcache/
fat32_driver/__history/
fat32_driver/__recovery/

sqlite3_console/Win32/
sqlite3_console/*.local
sqlite3_console/__astcache/
sqlite3_console/__history/
sqlite3_console/__recovery/

vt_sqlite_ui/Win32/
vt_sqlite_ui/*.local
vt_sqlite_ui/*.stat
vt_sqlite_ui/__astcache/
vt_sqlite_ui/__history/
vt_sqlite_ui/__recovery/

threaded_drive_rw_ui/Win32/
threaded_drive_rw_ui/*.local
threaded_drive_rw_ui/*.stat
threaded_drive_rw_ui/__astcache/
threaded_drive_rw_ui/__history/
threaded_drive_rw_ui/__recovery/

test_collection_time_console/Win32/
test_collection_time_console/*.local
test_collection_time_console/*.stat
test_collection_time_console/__astcache/
test_collection_time_console/__history/
test_collection_time_console/__recovery/