*.local
*.obj
rad_console/Win32/
rad_console/*.local
rad_console/__astcache/
rad_console/__history/
rad_console/__recovery/
rad_dll/Win32/
rad_dll/*.local
rad_dll/__astcache/
rad_dll/__history/
rad_dll/__recovery/
rad_ui/Win32
rad_ui/*.local
rad_ui/__astcache/
rad_ui/__history/
rad_ui/__recovery/
vs_dll/Release/
vs_dll/.vs/
vs_dll/vs_dll/Release/
vs_console/Release/
vs_console/.vs/
vs_console/vs_dll/Release/
vs_dll/Release/
vs_dll/.vs/
vs_dll/vs_dll/Release/